---
import { ClientRouter } from 'astro:transitions'

import './styles/global.css'
import Navigation from './components/Navigation.astro'
import Theme from './components/Theme.astro'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>AstroJS + DaisyUI Theme Toggle Demo</title>
    <ClientRouter />
  </head>
  <body>
    <header class='flex items-center'><Theme /> <Navigation /></header>
    <div class='flex justify-center items-center'>
      <slot />
    </div>
  </body>
</html>
